{% extends 'base.html.twig' %}

{% block body %}

    <div>
        {#   <img src="{{ asset('/images' + pizza.nom) }}"> {{}}#}
        <img src="{{ pizza.urlImage }}" style="width: 250px; height: 200px;" >
        <div>
            {{pizza.nom}}
        </div>
        <div>
            {{pizza.description}}
        </div>
        <div>
            {{pizza.prix}}
        </div>
        <div>
            {% for ingredient in pizza.Ingredients %}
                {{ingredient.nom}}
            {% endfor %}
        </div>
        <br>
        <br>
        {{ form_start(detailCommandeForm)}}

        <div>
            {{ form_label(detailCommandeForm.quantite) }}
            {{ form_widget(detailCommandeForm.quantite, {'attr': {'style': 'width : 250px'}}) }}
        </div>
        <div>
            {{ form_label(detailCommandeForm.ajouter) }}
            {{ form_widget(detailCommandeForm.ajouter, {'attr': {'style': 'width : 250px'}}) }}
        </div>
        {{ form_end (detailCommandeForm) }}

        <a href="{{ path('_gerant') }}">Retour à la page de gestion</a>
        <a href="{{ path('_ajoutPanier', {'id': pizza.id}) }}">Ajout au panier</a>
        <br>
        <a href="{{ path('_accueil')}}">Retour à la carte</a>
    </div>
{% endblock %}

