{% extends 'base.html.twig' %}

{% block body %}

    <h2 class="flex item-center justify-center text-5xl mt-8 "> {{ pizza.nom }} </h2>

    <div class="flex items-center justify-center mt-16">
        <div class="w-1/2 flex flex-col ">
            <div class="mb-4 text-xl">
                <div class="flex justify-end mt-2">
                    <img src="{{ pizza.urlImage }}" style="width: 400px; height: 300px;">
                </div>
            </div>
        </div>
        <div class="w-1/2 ml-6">
            <div class="text-2xl mb-6">
                {{ pizza.description }}
            </div>
            <div class="text-2xl mb-6 flex items-center">
                <span>Ingrédients :</span>
                {% set viandePresente = false %}
                {% for viande in viandes %}
                    {% for ingredient in pizza.Ingredients %}
                        {% if viande == ingredient.nom %}
                            {% set viandePresente = true %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}

                {% if viandePresente %}
                    <img src="{{ asset('images/bifteck.png') }}" style="width: 35px; height: 35px;" class="ml-4">
                {% else %}
                    <img src="{{ asset('images/legume.png') }}" style="width: 35px; height: 35px;" class="ml-4">
                {% endif %}
            </div>
            <div class="text-2xl">
                {% for ingredient in pizza.Ingredients %}
                    {{ ingredient.nom }}{{ not loop.last ? ', ' }}
                {% endfor %}
            </div>
            <div class="flex text-2xl mt-5">
                <div>Prix :</div>
                <div>
                    <div class="ml-8">médium : {{ (pizza.prix) | number_format(2, '.', ',') }} €</div>
                    <div class="ml-8">large : {{ (pizza.prix + 5) | number_format(2, '.', ',') }} €</div>
                </div>
            </div>
        </div>
    </div>
    {% if app.user %}
        <div class="flex items-center justify-center mt-8">
            <div class="w-1/2 flex flex-col mr-6">
                <div class="mb-4 text-2xl flex justify-end">
                    {{ form_start(detailCommandeForm) }}
                    <div class="mb-7 mt-7 flex justify-center items-center ">
                        <div class="mr-5 text-2xl mb-2 ">
                            {{ form_label(detailCommandeForm.quantite) }}
                        </div>
                        <div class="text-2xl text-black font-bold flex items-center"> <!-- Ajout de la classe flex -->
                            {{ form_widget(detailCommandeForm.quantite, {'id': 'quantiteModal','attr': {'style': 'width : 200px;  text-align: center; font-size: 1.25rem;'}}) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-1/2 flex flex-col ml-6">
                <div class="mb-4 text-2xl flex items-center">
                    <div class="mr-4">
                        {{ form_label(detailCommandeForm.taille) }}
                    </div>
                    <div class="mr-6">
                        {{ form_widget(detailCommandeForm.taille, {'attr': {'class': 'custom-checkbox'}}) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="flex justify-center item-center text-3xl hover:text-red-500 duration-200 font-bold mt-6">
            <div>
                {{ form_label(detailCommandeForm.ajouter) }}
                {{ form_widget(detailCommandeForm.ajouter, {'attr': {'style': 'width : 250px'}}) }}
            </div>
        </div>
        {{ form_end (detailCommandeForm) }}
    {% endif %}
    {% if not app.user %}
        <div class="flex justify-center item-center text-3xl hover:text-red-500 duration-200 font-bold mt-10">
            <div>
                <a href="{{ path('app_login') }}">Connectez-vous pour commander</a>
            </div>
        </div>
    {% endif %}
    <div class="flex justify-center item-center text-3xl hover:text-red-500 duration-200 font-bold mt-10">
        <div>
            <a href="{{ path('_accueil') }}">Retour à la carte</a>
        </div>
    </div>


{% endblock %}

