{% extends 'base.html.twig' %}


{% block body %}
    <h2> Votre panier </h2>
    <div id="panier">
    {% if detailsCommandes is not empty %}
{% for detailCommande in detailsCommandes  %}
    <div>
    <div> {{ detailCommande.produit.nom }},    quantité : {{ detailCommande.quantite }} , prix : {{ (detailCommande.produit.prix * detailCommande.quantite) | number_format(2, '.', ',')}} euros
    <a href="{{ path('_suppressionDuPanier', {'id': detailCommande.id}) }} }}">supprimer l'article</a></div>
    </div>
    <br>
{% endfor %}
        <div> Prix total du panier : {{ prixDuPanier | number_format(2, '.', ',') }} euros </div>
        <br>
    <a href="{{ path('_payementPanier') }}">Commander</a>
    {% endif %}

    {% if detailsCommandes is empty %}
            <h3><a href="{{ path('_accueil') }}">Votre panier est vide, Choisissez une pizza</a></h3>
    {% endif %}
    </div>
{% endblock %}
