{% extends 'base.html.twig' %}


{% block body %}
    <h1> Votre panier </h1>
    {% if detailsCommandes is not empty %}
{% for detailCommande in detailsCommandes  %}
    <div>
    <div> {{ detailCommande.produit.nom }},    quantité : {{ detailCommande.quantite }} </div>
    </div>
    <br>
    <div>{{ detailCommande.id }}</div>
    <a href="{{ path('_suppressionDuPanier', {'id': detailCommande.id}) }} }}">supprimer l'article</a>
{% endfor %}
    <a href="{{ path('_payementPanier') }}">Payer la commande</a>
    {% endif %}
    {% if detailsCommandes is empty %}

            <h3><a href="{{ path('_accueil') }}">Votre panier est vide, Choisissez une pizza</a></h3>
    {% endif %}
{% endblock %}
