{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <h2 class="flex item-center justify-center text-5xl mt-8 mb-20">Connectez-vous</h2>

        <div class="flex justify-center items-center mt-12">
            <div class="block ml-12 text-3xl ">
                <div class="mb-8 flex">
                    <label for="inputEmail" class="mr-4" style="flex: 1; text-align: start;">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" style="text-align: start;"
                           autocomplete="email"  required autofocus>
                </div>
                <div class="mb-8 flex">
                    <label for="inputPassword" class="mr-4" style="flex: 1; text-align: start;">Password</label>
                    <input type="password" name="password" id="inputPassword" style="text-align: start;"
                           autocomplete="current-password" required>
                </div>


                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >
                <div class="mb-12">
                    <button type="submit" class="ml-32 btn flex justify-center items-center text-2xl hover:text-red-500 duration-200 font-bold">Connection</button>

                </div>
            </div>
        </div>
    </form>
    <a href="{{ path('app_register') }}" class=" flex justify-center items-center text-2xl hover:text-red-500 duration-200 font-bold"> Si vous n'avez pas de compte, cliquez ici pour en créer un !</a>
{% endblock %}
