{% extends 'base.html.twig' %}

{% block body %}
<h1> Profil de {{ user.prenom }} </h1>

    <div>
        <div>Nom : </div>
        <div> {{ user.nom }}</div>
    </div>
    <div>
        <div>Prenom : </div>
        <div> {{ user.prenom }}</div>
    </div>
    <div>
    <div>Email : </div>
    <div> {{ user.email }}</div>
    </div>
    <div>Role (roles) : </div>
    {% for role in user.roles %}
            <div> {{ role }}</div>
    {% endfor %}
    <div>Role (rolesUtilisateur) : </div>
    {% for role in user.rolesUtilisateur %}
            <div> {{ role.libelle }}</div>
    {% endfor %}
<a href="{{path ('_modificationProfil', { 'id': user.id }) }}"> Modification du profil</a>
{% endblock %}
