{% extends 'base.html.twig' %}

{% block body %}
<h2 class="flex item-center justify-center text-5xl mt-8 mb-16 font-semibold"> Modification du profil
    de {{ user.prenom }} {{ user.nom }}</h2>
<div class="grid w-1/3 mx-auto ">
    <div class=" flex flex-col items-center justify-center  rounded border-2 border-white mb-24">

        {{ form_start(profilForm) }}
        <div class="w-full flex mt-8">
            <div class="w-1/2 flex justify-end text-3xl  mr-5 mb-6"> {{ form_label(profilForm.nom) }}&nbsp;:</div>
            <div class="w-1/2 text-3xl ml-5 mb-6 text-black font-semibold"> {{ form_widget(profilForm.nom, {'attr': {'style': 'width: 250px'}}) }}</div>
        </div>
        <div class="w-full flex">
            <div class="w-1/2 flex justify-end text-3xl mr-5 mb-6"> {{ form_label(profilForm.prenom) }}&nbsp;:</div>
            <div class="w-1/2 text-3xl ml-5 mb-6 text-black font-semibold"> {{ form_widget(profilForm.prenom, {'attr': {'style': 'width: 250px'}}) }}</div>
        </div>
        <div class="w-full flex">
            <div class="w-1/2 flex justify-end text-3xl mr-5 mb-6"> {{ form_label(profilForm.email) }}&nbsp;:</div>
            <div class="w-1/2 text-3xl ml-5 mb-6 text-black font-semibold"> {{ form_widget(profilForm.email, {'attr': {'style': 'width: 250px'}}) }}</div>
        </div>
        <div class="w-full flex">
            <div class="w-1/2 flex justify-end text-3xl mr-5 mb-6"> {{ form_label(profilForm.sexe) }}&nbsp;:</div>
            <div class="w-1/2 text-3xl ml-5 mb-6 text-black font-semibold"> {{ form_widget(profilForm.sexe, {'attr': {'style': 'width: 250px'}}) }}</div>
        </div>

        {% if is_granted('ROLE_GERANT') %}
        <div class="w-full flex">
            {% else %}
            <div class="w-full flex hidden">
                {% endif %}
                <div class="w-1/2 flex justify-end text-3xl mr-5 mb-6">
                    <label for="countries_multiple" class="">Rôles :</label>
                </div>
                <div class="w-1/2 text-3xl ml-5 mb-6">
                    {% for role in profilForm.roles %}
                        <div>
                            {{ form_widget(role, {'attr': {'class': 'mr-2'}}) }}
                            {{ form_label(role) }}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="flex justify-center items-center text-3xl mr-5 mb-6 hover:text-red-500 underline underline-offset-4
"><a
                        href="{{ path('_modificationMotDePasse', {'id': user.id}) }}">Modifier son mot de passe</a>
            </div>


            <div class="flex justify-center item-center text-4xl hover:text-red-500 duration-200 font-bold mt-4 mb-8 ">
                {{ form_label(profilForm.ajouter) }}
                {{ form_widget(profilForm.ajouter, {'attr': {'style': 'width: 250px'}}) }}
            </div>

            {{ form_end(profilForm) }}

        </div>
    </div>
    <script src="{{ asset('build/app.js') }}"></script>
    <script>
        window.onload = function () {
            initProfil();
        };
    </script>
    {% endblock %}

