{% extends 'base.html.twig' %}
{% block title %}PizzaOnLine - Modification mot de passe{% endblock %}

{% block body %}
    <h2 class="flex item-center justify-center text-5xl mt-2 mb-16 font-semibold"> Modification du mot de passe</h2>
    <div class="grid">
        {{ form_start(mdpForm) }}
        <div class="flex justify-center items-center">
            {% for message in app.flashes('warning') %}
                <div class="alert alert-error w-2/5">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
        <div class="w-full flex mt-6">
                <div class="w-1/2 flex justify-end text-3xl mr-5 mb-6 ">
                    {{ form_label(mdpForm.password.first) }}&nbsp;:
                </div>
            <div class="w-1/2 text-3xl ml-5 mb-6 text-black font-semibold">
                {{ form_widget(mdpForm.password.first, {'attr': {'style': 'width: 250px'}}) }}</div>
            </div>
        </div>

        <div class="w-full flex">
            {{ form_errors(mdpForm.password) }}
        </div>
        <div class="w-full flex">
            <div class="w-1/2 flex justify-end text-3xl mr-5 mb-6" > {{ form_label(mdpForm.password.second) }}&nbsp;:</div>
            <div class="w-1/2 text-3xl ml-5 mb-6 text-black font-semibold"> {{ form_widget(mdpForm.password.second, {'attr': {'style': 'width: 250px'}}) }}</div>
        </div>
        <div class="w-full flex">
            <div class="w-1/2 flex justify-end text-3xl mr-5 mb-6"> {{ form_label(mdpForm.newPassword) }}&nbsp;:</div>
            <div class="w-1/2 text-3xl ml-5 mb-6 text-black font-semibold"> {{ form_widget(mdpForm.newPassword, {'attr': {'style': 'width: 250px'}}) }}</div>
        </div>

        <div class="flex justify-center item-center text-4xl hover:text-red-500 duration-200 font-bold mt-6 mb-28 ">
            {{ form_label(mdpForm.ajouter) }}
            {{ form_widget(mdpForm.ajouter) }}
        </div>

        {{ form_end(mdpForm) }}

    </div>
{% endblock %}

