{% extends 'base.html.twig' %}

{% block body %}

    <h2 class="flex item-center justify-center text-5xl mt-8 mb-12"> Commande en cours </h2>

    {% if commandeDetailsClient is empty %}
        <div class="flex justify-center items-center text-2xl hover:text-red-500 duration-200 font-bold ">Vous n'avez
            pas encore effectué de commande.
        </div>
    {% endif %}

    <div class="flex justify-center item-center mb-24">
        <div class="grid ">
            {% set i = 0 %}
            {% for commandeId, commandeDetail in commandeDetailsClient %}
                <div class="bg-gray-200 p-4 mb-6 rounded mb-4 border-4 border-gray-400">
                    <div class="flex justify-evenly mb-2 border-b-2 border-black">
                        <div class=" flex justify-center item-center text-2xl text-black mb-2 font-bold">Commande n°
                            : {{ commandeId }}</div>
                        <div class="flex text-2xl justify-center items-center ">
                            <div class="mb-2 text-black font-bold mr-4">État :</div>
                            <div class="mb-2 text-black">{{ etatsCommandes[i] }}</div>
                        </div>
                    </div>
                    <div class="grid-cols-2 grid">
                        {% for detailCommande in commandeDetail %}
                            {% for pizza in pizzas %}
                                {% if detailCommande.produit.id == pizza.id %}
                                    <div class="mx-6 mb-2">
                                        <div class="mb-2 text-1xl text-black font-semibold underline">{{ pizza.nom }}:
                                        </div>
                                        <div class="flex ">
                                            <div class="mb-2 text-xl text-black mr-4">Quantité : {{ detailCommande.quantite }}</div>
                                            <div class="mb-2 text-xl text-black text-right ">Taille : {{ detailCommande.taille.libelle }}</div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </div>

                </div>
                {% set i = i + 1 %}
            {% endfor %}

        </div>
    </div>
{% endblock %}


