{% extends 'base.html.twig' %}

{% block body %}

    <h2 class="flex item-center justify-center text-5xl mt-8 mb-20"> Commande en cours </h2>

    {% if commandeDetailsClient is empty %}
        <div class="flex justify-center items-center text-2xl hover:text-red-500 duration-200 font-bold ">Vous n'avez pas encore effectué de commande.</div>
    {% endif %}
    <div class="grid grid-cols-4 gap-4 mx-32 mb-12">
        {% set i = 0 %}
        {% for commandeId, commandeDetail in commandeDetailsClient %}
            <div class="bg-gray-200 p-4 w-80 mb-6 flex flex-col justify-between">
                <div class=" flex justify-center item-center mb-2 text-xl text-black mb-4 font-bold">Commande n°
                    : {{ commandeId }}</div>
                {% for detailCommande in commandeDetail %}
                    {% for pizza in pizzas %}
                        {% if detailCommande.produit.id == pizza.id %}
                            <div class="flex justify-between">
                                <div class="mb-2 text-xl text-black">{{ pizza.nom }}</div>
                                <div class="mb-2 text-xl text-black">Quantité : {{ detailCommande.quantite }}</div>
                            </div>
                            <div class="mb-2 text-xl text-black text-right mb-4">taille
                                : {{ detailCommande.taille.libelle }}</div>

                        {% endif %}
                    {% endfor %}

                {% endfor %}
                <div class="flex justify-between mt-4">
                    <div class="mb-2 text-xl text-black">Etat :</div>
                    <div class="mb-2 text-xl text-black">{{ etatsCommandes[i].libelle }}</div>
                </div>
            </div>
            {% set i = i + 1 %}
        {% endfor %}
    </div>
    <div class="flex justify-center items-center text-2xl  font-bold ">Si l'état est Créée : la pizzeria attends le payement de votre panier pour commencer la préparation</div>
    <div class="flex justify-center items-center text-2xl mt-6  font-bold">Si l'état est Payée : la pizzeria va recevoir votre commande et commencer la préparation </div>
    <div class="flex justify-center items-center text-2xl mt-6 mb-32  duration-200 font-bold">Si l'état est Préparée : la pizzeria va recevoir votre commande et commencer la préparation</div>
{% endblock %}


