{% extends 'base.html.twig' %}

{% block body %}
    <h2 class="flex item-center justify-center text-5xl mt-8 mb-12"> Livraison</h2>

    <div class="flex justify-center items-center text-2xl"> Votre commande est en cours de livraison vers : 2 B rue
        Benjamin Franklin, 44612 Saint Herblain
    </div>
    <div class="flex mt-8">
        <div class="w-1/2 flex justify-end mr-8"> <!-- DIV 001 -->
            {% for commandeId, commandeDetail in commandeDetails %}
                <div class="bg-gray-200 p-4 w-80 flex flex-col justify-between rounded">
                    <div class="flex justify-center item-center text-xl text-black font-bold">Commande n° : {{ commandeId }}</div>
                    {% for detailCommande in commandeDetail %}
                        {% for pizza in pizzas %}
                            {% if detailCommande.produit.id == pizza.id %}
                                <div class="flex justify-between">
                                    <div class=" text-xl text-black">{{ pizza.nom }} X {{ detailCommande.quantite }}</div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    <div class="flex item-center justify-center hover:text-red-500 duration-200 text-black text-xl">Heure de Livraison : {{ commandeDetail[0].commande.dateHeureLivraison|date(' H:i:s') }}</div>
                </div>
            {% endfor %}
        </div>
        <div class="w-1/2 ml-8"> <!-- DIV 002 -->
            <div id="map" class="z-49 "></div>
        </div>
    </div>


    <div class="flex justify-center items-center text-2xl mt-6 "> Si vous constatez une erreur sur l'adresse ou quelque chose à dire au livreur :</div>
    <div id="livreur"></div>
    <div id="latitude"></div>
    <div id="longitude"></div>
    <script src="{{ asset('build/app.js') }}"></script>
    <script>
        window.onload = function () {
            init();
        };
    </script>
{% endblock %}