{% extends 'base.html.twig' %}

{% block body %}
    <h2 class="flex item-center justify-center text-5xl mt-8 mb-12"> Livraison</h2>

    <div class="flex justify-center items-center text-2xl"> Votre commande est en cours de livraison vers : 2 B rue
        Benjamin Franklin, 44612 Saint Herblain
    </div>
    {% for idClient in idClients %}
        {% if idClient == app.user.id %}
            <div class="flex mt-8">
                <div class="w-1/2 flex justify-end mr-8"> <!-- DIV 001 -->
                    {% set commandesParLigne = countTabCommandeLivreur|batch(3) %}
                    {% for commandeId, commandeDetail in commandeDetailsClient %}
                        <div class="bg-gray-200 p-4 w-80 flex flex-col justify-between rounded">
                            <div class="flex justify-center item-center text-xl text-black font-bold">Commande n°
                                : {{ commandeId }}</div>
                            {% for detailCommande in commandeDetail %}
                                {% for pizza in pizzas %}
                                    {% if detailCommande.produit.id == pizza.id %}
                                        <div class="flex justify-between">
                                            <div class=" text-xl text-black">{{ pizza.nom }}
                                                X {{ detailCommande.quantite }}</div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                            <div class="flex item-center justify-center hover:text-red-500 duration-200 text-black text-xl">
                                Heure de Livraison
                                : {{ commandeDetail[0].commande.dateHeureLivraison|date(' H:i:s') }}</div>
                        </div>
                    {% endfor %}
                </div>
                <div class="w-1/2 ml-8"> <!-- DIV 002 -->
                    <div id="map" class="z-49 "></div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
    {% if is_granted('ROLE_LIVREUR') %}
        <div class="flex mt-8">
            <div class="w-1/2 grid grid-cols-4 gap-4 ml-4"> <!-- DIV 001 -->
                {% for commandeId, commandeDetail in commandeDetailsLivreur %}
                    <div class="bg-gray-200 p-4 w-52 flex flex-col justify-between rounded mr-6">
                        <div class="flex justify-center item-center text-xl text-black font-bold mb-2">Commande n°
                            : {{ commandeId }}</div>
                        {% for detailCommande in commandeDetail %}
                            {% for pizza in pizzas %}
                                {% if detailCommande.produit.id == pizza.id %}
                                    <div class="flex">
                                        <div class=" text-xl text-black mb-2">{{ pizza.nom }}
                                            X {{ detailCommande.quantite }}</div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                        {% for commande in allCommande %}
                        {% if commande.id == commandeId %}
                                    <div>{{ commande.collaborateur.adresse }}</div>
                                    <div class="invisible afficherAdresse"></div>
                            {% endif %}
                        {% endfor %}

                        <div class="flex item-center justify-center hover:text-red-500 duration-200 text-black text-xl">
                            Heure de Livraison
                            : {{ commandeDetail[0].commande.dateHeureLivraison|date(' H:i:s') }}</div>
                    </div>
                {% endfor %}
            </div>
            <div class="w-1/2 ml-8"> <!-- DIV 002 -->
                <div id="map" class="z-49 "></div>
            </div>
        </div>
    {% endif %}
    {% if not is_granted('ROLE_LIVREUR') %}
        <div class="flex justify-center items-center text-2xl mt-6 "> Si vous constatez une erreur sur l'adresse ou
            quelque
            chose à dire au livreur :
        </div>
        <div id="livreur"></div>
    {% endif %}

    <script src="{{ asset('build/app.js') }}"></script>
    <script>
        window.onload = function () {
            init();
        };
    </script>
{% endblock %}