{% extends 'base.html.twig' %}

{% block body %}
    <h2 class="flex item-center justify-center text-5xl mt-8 mb-12"> Livraison</h2>

    <div class="invisible" id="premiereAdresse"> {{ premiereAdresseLivreur }}</div>
    {% if is_granted('ROLE_LIVREUR') %}
        <div class="flex justify-center items-center text-4xl"> Commandes à livrer :
        </div>
    {% endif %}

        {% if is_granted('ROLE_LIVREUR') %}
            <div class="flex mt-8 mb-32">
                <div class="w-1/2 grid grid-cols-4-reverse gap-4 ml-4">
                    {% for commandeId, commandeDetail in commandeDetailsLivreur %}
                        <div class="bg-gray-200 p-4 w-52 flex flex-col justify-between rounded mr-6">
                            <div class="flex justify-center item-center text-xl text-black font-bold mb-2">Commande n°
                                : {{ commandeId }}</div>
                            {% for detailCommande in commandeDetail %}
                                <div class=" text-xl text-black mb-2 reverseTexte">{{ detailCommande.produit.nom }}
                                    X {{ detailCommande.quantite }}</div>
                            {% endfor %}
                            {% for commande in allCommande %}
                                {% if commande.id == commandeId %}
                                    <div class="reverseTexte text-black text-xl"> {{ commande.collaborateur.prenom }} {{ commande.collaborateur.nom }} </div>
                                    <div class="reverseTexte text-black text-xl">{{ commande.collaborateur.adresse }}</div>
                                {% endif %}
                            {% endfor %}

                            <div class="flex item-center justify-center text-black text-xl reverseTexte">
                                Heure de Livraison
                                : {{ commandeDetail[0].commande.dateHeureLivraison|date(' H:i:s') }}</div>

                            <a href="{{ path('_finDeLivraison', {'id': commandeId}) }} }}"
                               class="h-6 flex justify-center item-center hover:text-red-500 duration-200 text-xl mt-4 mb-2 font-bold">Commande
                                livrée</a>
                        </div>
                    {% endfor %}
                </div>
                <div class="w-1/2 ml-8"> <!-- DIV 002 -->
                    <div id="map" class="z-49 "></div>
                </div>
            </div>
        {% endif %}

        <script src="{{ asset('build/app.js') }}"></script>
        <script>
            window.onload = function () {
                init();
            };
        </script>
{% endblock %}