{% extends 'base.html.twig' %}
{% block title %}PizzaOnLine - Livraison{% endblock %}

{% block body %}

    <div class="invisible" id="premiereAdresse"> {{ premiereAdresseLivreur }}</div>
    {% if is_granted('ROLE_LIVREUR') %}
        <h2 class="flex item-center justify-center text-5xl mb-12"> Commandes à livrer :</h2>
    {% endif %}

    <div class="w-full flex flex-wrap mt-12 ">

        <div class="w-7/12 pl-8 grid grid-cols-3 mb-28">
            {% if  is_granted('ROLE_LIVREUR') and (commandeDetailsLivreur is not empty) %}
                {% for commandeId, commandeDetail in commandeDetailsLivreur %}
                    <div class="px-2 py-2 mx-3 mb-4 bg-gray-200 flex flex-col rounded justify-between border-4 border-gray-400">
                        <div class="mb-2">
                            <div class="flex text-2xl justify-center items-center text-black font-bold mb-4">Commande n°
                                : {{ commandeId }}
                            </div>
                            <div class="flex justify-between text-xl text-black mb-1 ">
                                <div class="flex flex-col">
                                    {% for detailCommande in commandeDetail %}
                                        <div>{{ detailCommande.produit.nom }}</div>
                                    {% endfor %}
                                </div>
                                <div class="flex-col flex">
                                    {% for detailCommande in commandeDetail %}
                                        <div>X {{ detailCommande.quantite }} {{ detailCommande.taille.libelle }}</div>
                                    {% endfor %}
                                </div>

                            </div>
                        </div>
                        <div class="justify-between">
                            <div class="flex text-xl text-black mb-2">
                                <div class="font-bold mr-4">
                                    Client:
                                </div>
                                <div>
                                    <a class="hover:text-red-500 duration-200"
                                       href="{{ path('_profil', {'id': commandeDetail[0].commande.collaborateur.id}) }}">
                                        {{ commandeDetail[0].commande.collaborateur.prenom }} {{ commandeDetail[0].commande.collaborateur.nom }}</a>
                                </div>
                            </div>
                            <div class="flex flex-col text-xl text-black">
                                <div class="font-bold mr-4">
                                    Adresse de livraison:
                                </div>
                                <div>
                                    {{ commandeDetail[0].commande.collaborateur.adresse }}
                                </div>
                            </div>
                            <div class="flex justify-center items-center mt-3">
                                <button type="button"
                                        class="mt-1 flex justify-center text-white bg-slate-500 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                                >
                                    <a href="{{ path('_finDeLivraison', {'id': commandeId}) }} }}"
                                       class="flex justify-center item-center  text-xl font-bold">Commande
                                        livrée</a>
                                </button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="w-5/12 flex">
            <div id="map" class="ml-8 z-0 "></div>
        </div>
    </div>
    <script src="{{ asset('build/app.js') }}"></script>
    <script>
        window.onload = function () {
            init();
        };
    </script>
{% endblock %}