{% extends 'base.html.twig' %}


{% block body %}
<h1> La carte des pizzas : </h1>
    {% for pizza in pizzas %}
<div>
{#   <img src="{{ asset('/images' + pizza.nom) }}"> {{}}#}
    <img src="{{ pizza.urlImage }}" style="width: 250px; height: 200px;" >
    <div>
    {{pizza.nom}}
    </div>
    <div>
    {{pizza.description}}
    </div>
    <div>
    {{pizza.prix}}
    </div>
    <div>
    {% for ingredient in pizza.Ingredients %}
    {{ingredient.nom}}
        {% endfor %}
        <br>
        <a href="{{ path('_detailPizza', {'id': pizza.id}) }}">Detail</a>
    </div>
</div>
    {% endfor %}
{% endblock %}
