{% extends 'base.html.twig' %}

{% block body %}
    <h2 class="flex content-center justify-center text-5xl mt-12 "> Ajout d'un ingrédient</h2>
    <div class="w-full flex flex-wrap mt-12">
        <div class="w-1/2 flex justify-end">
            <div class="mt-12 flex border-2 border-white px-4 py-4 rounded mr-6">
                {{ form_start(ingredientForm) }}
                <div class="flex mb-4 justify-end">
                    <div class="text-3xl mr-5">{{ form_label(ingredientForm.nom) }}</div>
                    <div class="text-black">{{ form_widget(ingredientForm.nom, {'attr': {'style': 'width : 250px; font-size:1.25rem'}}) }}</div>
                </div>
                <div class="flex mb-4 justify-end">
                    <div class="text-3xl mr-5">{{ form_label(ingredientForm.categorie) }}</div>
                    <div class="text-black">{{ form_widget(ingredientForm.categorie, {'attr': {'style': 'width : 250px; font-size:1.25rem'}}) }}</div>
                </div>
                <div class="flex mb-4 justify-end">
                    <div class="text-3xl mr-5">{{ form_label(ingredientForm.quantite) }}</div>
                    <div class="text-black">{{ form_widget(ingredientForm.quantite, {'attr': {'style': 'width : 250px; font-size:1.25rem'}}) }}</div>
                </div>

                <div class="flex justify-center item-center text-3xl hover:text-red-500 duration-200 font-bold mt-8">
                    {{ form_label(ingredientForm.ajouter) }}
                    {{ form_widget(ingredientForm.ajouter, {'attr': {'style': 'width : 250px'}}) }}
                </div>
                {{ form_end(ingredientForm) }}
            </div>
        </div>


        <div class="w-1/2">
            <div class="mt-12 px-2 border-2 border-white w-96">
                <div class="flex justify-between mb-4 ">
                    <div class="text-3xl">Ingrédients</div>
                    <div class="text-3xl">Quantité</div>
                </div>

                {% for ingredient in allIngredient %}
                    <div class="flex justify-between mb-4 hidden {{ ingredient.categorie.libelle }}">
                        <div class="text-3xl">{{ ingredient.nom }}</div>
                        <div class="text-3xl">{{ ingredient.quantite }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>


    <div class="flex justify-center item-center text-2xl hover:text-red-500 duration-200 font-bold mt-6">
        <a href="{{ path('_gerant') }}" class="mt-12">Retour à la page de gestion</a>
    </div>

    <script src="{{ asset('build/app.js') }}"></script>
    <script>
        window.onload = function () {
            initIngredient();
        };
    </script>
{% endblock %}



