{% extends 'base.html.twig' %}

{% block body %}
    <h2 class="flex content-center justify-center text-5xl mt-12 mb-8"> Ajout d'un ingrédient</h2>
    <div class="flex justify-center space-x-20">
        <div class="mt-32">
            {{ form_start(ingredientForm) }}
            <div>
                <div>
                    {{ form_label(ingredientForm.nom) }}
                </div>
                <div>
                    {{ form_widget(ingredientForm.nom, {'attr': {'style': 'width : 250px'}}) }}
                </div>
            </div>
            <div>
                <div>
                    {{ form_label(ingredientForm.quantite) }}
                </div>
                <div>
                    {{ form_widget(ingredientForm.quantite, {'attr': {'style': 'width : 250px'}}) }}
                </div>
            </div>
            <div>
                <div>
                    {{ form_label(ingredientForm.ajouter) }}
                    {{ form_widget(ingredientForm.ajouter, {'attr': {'style': 'width : 250px'}}) }}
                </div>
            </div>
            {{ form_end(ingredientForm) }}
        </div>
        <div>
            <table>
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Quantité</th>
                </tr>
                </thead>
                <tbody>
                {% for ingredient in allIngredient %}
                    <tr>
                        <td>{{ ingredient.nom }}</td>
                        <td class="text-center">{{ ingredient.quantite }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="flex justify-center item-center text-2xl hover:text-red-500 duration-200 font-bold mt-6">
    <a href="{{ path('_gerant') }}">Retour à la page de gestion</a>
    </div>
{% endblock %}


