{% extends 'base.html.twig' %}
{% block title %}PizzaOnLine - Ajout ingrédient{% endblock %}

    {% block body %}
        <h2 class="flex content-center justify-center text-5xl mt-2 "> Ajouter un ingrédient au stock</h2>
        <div class="w-full flex flex-col justify-center items-center mt-10">
            <div class="w-10/12 flex justify-center items-center">
                {{ form_start(ingredientForm, {'attr': {'class': 'w-full flex justify-center '}}) }}
                <div class="w-10/12 flex flex-wrap justify-between border-2 border-white p-2">
                    <div class="text-2xl text-white mx-2 mt-1">{{ form_label(ingredientForm.nom) }} :</div>
                    <div class="mt-1"> {{ form_widget(ingredientForm.nom) }}</div>
                    <div class="text-2xl text-white mx-2 mt-1">{{ form_label(ingredientForm.categorie) }} :</div>
                    <div class="mt-1"> {{ form_widget(ingredientForm.categorie) }}</div>
                    <div class="text-2xl text-white mx-2 mt-1">
                        Quantité :
                    </div>
                    <div class="flex-wrap flex mx-2 mt-1">
                        <button type="button"
                                data-input-counter-decrement="quantity-input" id="decrement"
                                class="  bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-gray-600 hover:bg-gray-200 border border-gray-300 rounded-s-lg p-3 h-11 focus:ring-gray-100 dark:focus:ring-gray-700 focus:ring-2 focus:outline-none">
                            <svg class="w-3 h-3 text-gray-900 dark:text-white" aria-hidden="true"
                                 xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 2">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                      stroke-width="2" d="M1 1h16"/>
                            </svg>
                        </button>
                        <input type="text" data-input-counter data-input-counter-min="1"
                               data-input-counter-max="50" aria-describedby="helper-text-explanation"
                               style="width:175px"
                               class="bg-gray-50 border-x-0 border-gray-300 h-11 text-center text-gray-900 text-xl focus:ring-blue-500 focus:border-blue-500 block w-full py-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                               placeholder="999" value="0" id="inputQuantite"
                               required>
                        <button type="button" id="increment"
                                data-input-counter-increment="quantity-input"
                                class=" bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-gray-600 hover:bg-gray-200 border border-gray-300 rounded-e-lg p-3 h-11 focus:ring-gray-100 dark:focus:ring-gray-700 focus:ring-2 focus:outline-none">
                            <svg class="w-3 h-3 text-gray-900 dark:text-white" aria-hidden="true"
                                 xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                      stroke-width="2" d="M9 1v16M1 9h16"/>
                            </svg>
                        </button>
                    </div>

                    <div class=" text-3xl text-white font-bold ">
                        {{ form_label(ingredientForm.ajouter) }}
                        {{ form_widget(ingredientForm.ajouter, {'attr': {'class': 'btn flex justify-center items-center text-xl text-white bg-blue-500 hover:bg-blue-700 font-bold'}}) }}
                    </div>
                    <div class=" hidden">
                       {{ form_widget(ingredientForm.quantite, {'id': 'quantiteModal','attr': {'style': 'width : 250px; font-size:1.25rem'}}) }}
                    </div>
                </div>
                {{ form_end(ingredientForm) }}
            </div>
            <div class="w-10/12 flex flex-col justify-center items-center mt-6">
                <div class="mb-4 flex flex-wrap items-end">
                    <img src="{{ asset('images/fleche-vers-le-haut.png') }}" class="w-8 h-8">
                    <div class="bottom-0 italic">Saisissez une catégorie pour trier les ingrédients </div>
                </div>                <div class="w-1/2 flex justify-center">
                    <div class=" px-2 border-2 border-white w-2/3">
                        <div class="flex justify-between mb-2">
                            <div class="text-3xl">Ingrédients</div>
                            <div class="text-3xl">Quantité</div>
                        </div>
                        <hr class="border-white border-[1px] mb-2">
                        {% for ingredient in allIngredient %}
                            <div class="flex justify-between mb-4 {{ ingredient.categorie.libelle }}">
                                <div class="text-3xl">{{ ingredient.nom }}</div>
                                <div class="text-3xl">{{ ingredient.quantite }}</div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <script src="{{ asset('build/app.js') }}"></script>
        <script>
            window.onload = function () {
                initIngredient();
            };
        </script>
    {% endblock %}



