{% extends 'base.html.twig' %}

{% block body %}

    <h2 class="flex item-center justify-center text-5xl mt-2 mb-10"> Création d'un produit</h2>
    {{ form_start(produitForm) }}
    <div class="w-full flex justify-center items-center flex-col">
        <div class="w-1/2">
            <div class="flex flex-wrap -mx-3 mb-4">
                <div class="w-full md:w-1/2 px-3 mb-4 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-50 text-lg font-bold mb-2"
                           for="grid-first-name">
                        Type de produit :
                    </label>
                    <div>{{ form_widget(produitForm.typeProduit, {'attr': {'class': 'form-control appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white'}}) }}</div>

                </div>
                <div class="w-full md:w-1/2 px-3">
                    <label class="block uppercase tracking-wide text-gray-50 text-lg font-bold mb-2"
                           for="grid-last-name">
                        {{ form_label(produitForm.prix) }} :
                    </label>
                    <input
                            name="{{ field_name(produitForm.prix) }}"
                            value="{{ field_value(produitForm.prix) }}"
                            placeholder="{{ field_label(produitForm.prix) }}"
                            class="form-control appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                            type="text"
                    >
                </div>
            </div>
            <div>
                <div class="flex flex-wrap -mx-3 mb-4">
                    <div class="w-full px-3">
                        <label class="block uppercase tracking-wide text-gray-50 text-lg font-bold mb-2"
                               for="grid-password">
                            {{ form_label(produitForm.nom) }} :
                        </label>
                        <input
                                name="{{ field_name(produitForm.nom) }}"
                                value="{{ field_value(produitForm.nom) }}"
                                placeholder="Nom du produit"
                                class="form-control appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                                type="text"
                        >
                    </div>
                </div>
            </div>
            <div>
                <div class="flex flex-wrap -mx-3 mb-4">
                    <div class="w-full px-3 flex flex-wrap">
                        <label class="block uppercase tracking-wide text-gray-50 text-lg font-bold flex items-center w-1/4"
                               for="grid-password">
                            {{ form_label(produitForm.urlImage) }} :
                        </label>
                        <div class=" bg-gray-300 text-black font-semibold w-9/12">
                            {{ form_widget(produitForm.urlImage) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-2 hidden">
                <div class="flex flex-wrap mt-8 mb-2 ">
                    <div class="uppercase tracking-wide text-gray-50 font-bold text-lg  flex items-center">
                        Sélectionner une catégorie d'ingrédient :
                    </div>
                    <div class="ml-2 ">
                        <select name="categories" id="ingredient_form_categorie"
                                class="text-xl text-black">
                            <option class="0 text-xl" value="0">Choisissez une catégorie</option>
                            {% set i = 1 %}
                            {% for category in categories %}
                                <option class="text-xl" value="{{ i }}">{{ category.libelle }}</option>
                                {% set i = i + 1 %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="w-full space-y-1 text-2xl hidden">
                    <div class="grid grid-cols-3  ">
                        {% for ingredient in produitForm.ingredients %}
                            <div class="{{ categoriesByIngredient[ingredient.vars.value] }} hidden">
                                {{ form_widget(ingredient, {'attr': {'class': 'custom-checkbox'}}) }}
                                {{ form_label(ingredient) }}
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
            <div class="flex flex-wrap -mx-3 mt-4 hidden">
                <div class="w-full px-3">
                    <label class="block uppercase tracking-wide text-gray-50 text-lg font-bold mb-2"
                           for="grid-password">
                        Ingrédients choisis :
                    </label>
                    <div
                            id="ingredients"
                            class="form-control appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                            type="number"
                    ></div>
                </div>
            </div>
            <div class="flex justify-center items-center mt-7 mb-20">
                {{ form_widget(produitForm.ajouter, {'attr': {'class': 'btn flex justify-center items-center text-3xl text-white bg-blue-500 hover:bg-blue-700 font-bold'}, 'label': 'Ajouter le produit '}) }}
            </div>
        </div>
    </div>
    {{ form_end(produitForm) }}
    <script src="{{ asset('build/app.js') }}"></script>
    <script>
        window.onload = function () {
            initIngredient();
        };
    </script>
{% endblock %}