{% extends 'base.html.twig' %}

{% block body %}

    <h1 class="flex item-center justify-center text-5xl mt-8 mb-20"> Création d'une pizza</h1>
    {{ form_start(produitForm) }}

    <div class="flex space-x-4 justify-center items-center"> <!-- Utilisation de flexbox pour aligner deux colonnes -->
        <div class="w-1/2 flex flex-col justify-end"> <!-- Colonne de gauche -->
            <div class="mb-4">
                <div class="flex justify-end"> <!-- Utilisez justify-end pour aligner les champs à droite -->
                    <div class="mr-4">
                        {{ form_label(produitForm.nom) }}
                    </div>
                    <div >
                        {{ form_widget(produitForm.nom, {'attr': {'style': 'width: 250px'}}) }}
                    </div>
                </div>
            </div>
            <div class="mb-4">
                <div class="flex justify-end"> <!-- Utilisez justify-end pour aligner les champs à droite -->
                    <div>
                        {{ form_label(produitForm.description) }}
                    </div>
                    <div class="ml-4">
                        {{ form_widget(produitForm.description, {'attr': {'style': 'width: 250px'}}) }}
                    </div>
                </div>
            </div>
            <div class="mb-4">
                <div class="flex justify-end"> <!-- Utilisez justify-end pour aligner les champs à droite -->
                    <div>
                        {{ form_label(produitForm.prix) }}
                    </div>
                    <div class="ml-4">
                        {{ form_widget(produitForm.prix, {'attr': {'style': 'width: 250px'}}) }}
                    </div>
                </div>
            </div>
            <div class="mb-4">
                <div class="flex justify-end"> <!-- Utilisez justify-end pour aligner les champs à droite -->
                    <div>
                        {{ form_label(produitForm.urlImage) }}
                    </div>
                    <div class="ml-4">
                        {{ form_widget(produitForm.urlImage, {'attr': {'style': 'width: 250px'}}) }}
                    </div>
                </div>
            </div>
            <div class="mb-4">
                <div class="flex justify-end"> <!-- Utilisez justify-end pour aligner les champs à droite -->
                    <div>
                        {{ form_label(produitForm.typeProduit) }}
                    </div>
                    <div class="ml-4">
                        {{ form_widget(produitForm.typeProduit, {'attr': {'style': 'width: 250px'}}) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="w-1/2 flex flex-col justify-start ml-6"> <!-- Colonne de droite pour les ingrédients -->
            <div class="custom-checkbox">
                <div>
                    {{ form_label(produitForm.ingredients, 'Ingredient', {'label_attr': {'class': 'labelIngredient'}}) }}
                </div>
                <div>
                    {{ form_widget(produitForm.ingredients, {'attr': {'style': 'width: 750px', 'class': 'custom-checkbox'}}) }}
                </div>

            </div>
        </div>
    </div>

    <div class="flex justify-center item-center text-xl hover:text-red-500 duration-200 font-bold mt-5">
        {{ form_label(produitForm.ajouter) }}
        {{ form_widget(produitForm.ajouter, {'attr': {'style': 'width: 250px'}}) }}
    </div>

    {{ form_end(produitForm) }}

    <a href="{{ path('_gerant') }}" class="flex justify-center item-center text-2xl hover:text-red-500 duration-200 font-bold mt-12">Retour à la page de gestion</a>
{% endblock %}