{% extends 'base.html.twig' %}
{% block title %}PizzaOnLine - Gestion du stock{% endblock %}

{% block body %}

    <h2 class="flex item-center justify-center text-5xl mt-2 underline underline-offset-8"> Gestion du stock des
        ingrédients </h2>

    <div class="w-full mt-8 ">
        <div class="flex justify-center items-center flex-col ">
            <div>
                <select name="categories" id="ingredient_form_categorie" class="text-xl">
                    <option class="0 text-xl" value="0">Choisissez une catégorie</option>
                    {% set i = 1 %}
                    {% for category in categories %}
                        <option class="text-xl" value="{{ i }}">{{ category.libelle }}</option>
                        {% set i = i + 1 %}
                    {% endfor %}
                </select>
                <input type="text" id="search" class="text-xl">
                <button class=" bg-gray-500 text-white text-xl font-bold hover:text-white py-2 px-4 border border-black hover:border-transparent hover:border-white rounded mt-4 "
                        id="changement">
                    Valider les changements
                </button>
            </div>
            <div class="mt-8 px-8 py-4 border-2 border-white w-1/3 flex justify-between mb-24">
                <div class="w-full ">
                    <div class="flex justify-between mb-4  ">
                        <div class="text-3xl mb-4 ml-2">Ingrédients</div>
                        <div class="text-3xl mb-4 mr-2">Quantité</div>
                    </div>
                    {% for ingredient in ingredients %}
                        <div id="{{ ingredient.nom }}"
                             class="flex justify-between {% if not loop.last %}mb-4{% endif %}  {{ ingredient.categorie.libelle }}">
                            <div class="text-3xl">{{ ingredient.nom }}</div>
                            <div class=" flex items-center w-1/4 {{ ingredient.id }}">
                                <button type="button"
                                        data-input-counter-decrement="quantity-input"
                                        class="decrement-button {{ ingredient.id }} bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-gray-600 hover:bg-gray-200 border border-gray-300 rounded-s-lg p-3 h-11 focus:ring-gray-100 dark:focus:ring-gray-700 focus:ring-2 focus:outline-none">
                                    <svg class="w-3 h-3 text-gray-900 dark:text-white" aria-hidden="true"
                                         xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 2">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                              stroke-width="2" d="M1 1h16"/>
                                    </svg>
                                </button>
                                <input type="text" data-input-counter data-input-counter-min="1"
                                       data-input-counter-max="50" aria-describedby="helper-text-explanation"
                                       class="bg-gray-50 border-x-0 border-gray-300 h-11 text-center text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 block w-full py-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                       placeholder="999" value="{{ ingredient.quantite }}" id="{{ ingredient.id }}"
                                       required>
                                <button type="button" id=""
                                        data-input-counter-increment="quantity-input"
                                        class="increment-button {{ ingredient.id }} bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-gray-600 hover:bg-gray-200 border border-gray-300 rounded-e-lg p-3 h-11 focus:ring-gray-100 dark:focus:ring-gray-700 focus:ring-2 focus:outline-none">
                                    <svg class="w-3 h-3 text-gray-900 dark:text-white" aria-hidden="true"
                                         xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                              stroke-width="2" d="M9 1v16M1 9h16"/>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>



    <script src="{{ asset('build/app.js') }}"></script>
    <script>
        window.onload = function () {
            initStock();
        };
    </script>
{% endblock %}

