{% extends 'base.html.twig' %}
{% block title %}PizzaOnLine - Gestion du stock{% endblock %}

{% block body %}

    <h2 class="flex item-center justify-center text-5xl mt-2 underline underline-offset-8"> Gestion du stock des
        ingrédients </h2>

    <div class="w-full mt-6 flex justify-center">
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg w-1/2 mt-6">
            <div class="w-full text-sm text-gray-700 flex justify-between mb-4 ">
                <select name="categories" id="ingredient_form_categorie" class="text-xl">
                    <option class="0 text-lg" value="0">Choisissez une catégorie</option>
                    {% set i = 1 %}
                    {% for category in categories %}
                        <option class="text-lg" value="{{ i }}">{{ category.libelle }}</option>
                        {% set i = i + 1 %}
                    {% endfor %}
                </select>
                <input type="text" id="search" class="text-lg">
                <button class=" bg-gray-500 text-white text-lg font-bold hover:text-white py-2 px-4 border border-black hover:border-transparent hover:border-white rounded "
                        id="changement">
                    Valider les changements
                </button>
            </div>
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 mb-24">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3 text-lg">
                        Ingrédient
                    </th>
                    <th scope="col" class="px-6 py-3 text-lg">
                        Quantité
                    </th>
                    <th scope="col" class="px-6 py-3 text-lg">
                        Supprimer
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for ingredient in ingredients %}
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600 {{ ingredient.categorie.libelle }}"
                        id="{{ ingredient.nom }}">
                        <td class="px-6 py-4 font-semibold text-gray-900 dark:text-white">
                            {{ ingredient.nom }}
                        </td>
                        <td class="px-6 py-4">
                            <div class=" flex items-center w-1/2 {{ ingredient.id }}">
                                <button type="button"
                                        data-input-counter-decrement="quantity-input"
                                        class="decrement-button {{ ingredient.id }} bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-gray-600 hover:bg-gray-200 border border-gray-300 rounded-s-lg p-3 h-11 focus:ring-gray-100 dark:focus:ring-gray-700 focus:ring-2 focus:outline-none">
                                    <svg class="w-3 h-3 text-gray-900 dark:text-white" aria-hidden="true"
                                         xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 2">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                              stroke-width="2" d="M1 1h16"/>
                                    </svg>
                                </button>
                                <input type="text" data-input-counter data-input-counter-min="1"
                                       data-input-counter-max="50" aria-describedby="helper-text-explanation"
                                       class="bg-gray-50 border-x-0 border-gray-300 h-11 text-center text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 block w-full py-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                       placeholder="999" value="{{ ingredient.quantite }}" id="{{ ingredient.id }}"
                                       required>
                                <button type="button" id=""
                                        data-input-counter-increment="quantity-input"
                                        class="increment-button {{ ingredient.id }} bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-gray-600 hover:bg-gray-200 border border-gray-300 rounded-e-lg p-3 h-11 focus:ring-gray-100 dark:focus:ring-gray-700 focus:ring-2 focus:outline-none">
                                    <svg class="w-3 h-3 text-gray-900 dark:text-white" aria-hidden="true"
                                         xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                              stroke-width="2" d="M9 1v16M1 9h16"/>
                                    </svg>
                                </button>
                            </div>
                        </td>
                        <td class="px-6 py-4">
                            <a href="#" class="font-medium text-red-600 dark:text-red-500 hover:underline">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>



    <script src="{{ asset('build/app.js') }}"></script>
    <script>
        window.onload = function () {
            initStock();
        };
    </script>
{% endblock %}

