{% extends 'base.html.twig' %}
{% block title %}PizzaOnLine - Modifier un produit{% endblock %}

{% block body %}

    <h2 class="flex item-center justify-center text-5xl mt-2 mb-10 text-gray-50"> Modifier un produit : </h2>

    <div class="w-full mt-6 flex justify-center">
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg w-9/12 mt-6">

            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 mb-24">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3 text-lg">
                        Nom
                    </th>
                    <th scope="col" class="px-6 py-3 text-lg">
                        Image
                    </th>
                    <th scope="col" class="px-6 py-3 text-lg">
                        Ingrédients
                    </th>
                    <th scope="col" class="px-6 py-3 text-lg">
                        Prix médium
                    </th>
                    <th scope="col" class="px-6 py-3 text-lg">
                        Prix Large
                    </th>
                    <th scope="col" class="px-6 py-3 text-lg">

                    </th>
                    <th scope="col" class="px-6 py-3 text-lg">

                    </th>
                </tr>
                </thead>
                <tbody>
                {% for pizza in allPizzas %}
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600 {{ pizza.nom }}"
                        id="{{ pizza.nom }}">
                        <td class="text-lg px-6 py-4 font-semibold text-gray-900 dark:text-white">
                            {{ pizza.nom }}
                        </td>
                        <td class="px-6 py-4 font-semibold text-gray-900 dark:text-white">
                            <img class="w-3/4 h-3/4" src="{{ absolute_url(asset('images/' ~ pizza.urlImage)) }}">
                        </td>
                        <td class="text-lg px-6 py-4">
                            {% for ingredient in pizza.ingredients %}
                                {{ ingredient.nom }}{% if not loop.last %},{% endif %}
                            {% endfor %}
                        </td>
                        <td class="text-lg px-6 py-4">
                            {{ pizza.prix }} €
                        </td>
                        <td class=" text-lg px-6 py-4">
                            {{ pizza.prix + 5 }} €
                        </td>
                        <td class="px-6 py-4">
                            <a href="{{ path('_modificationProduit', {'id': pizza.id}) }}" class="font-medium text-lg text-red-600 dark:text-red-500 hover:underline">Modifier</a>
                        </td>
                        <td class="px-6 py-4">
                            <a href="{{ path('_supprimerProduit', {'id': pizza.id}) }}" class="font-medium text-lg text-red-600 dark:text-red-500 hover:underline">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>


    <style>
        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    </style>
{% endblock %}


