{% extends 'base.html.twig' %}
{% block title %}PizzaOnLine - Modifier un produit{% endblock %}

{% block body %}

    <h2 class="flex item-center justify-center text-5xl mt-2 mb-10"> Modifier un produit : </h2>
    <div class="grid grid-cols-4 gap-4 mx-32 mb-20">
        {% for pizza in allPizzas %}
            <div class="bg-gray-200 p-4 w-81 mb-6 flex flex-col rounded justify-between border-4 border-gray-500">
                <div id="premierBlock" class="mb-2">
                    <img src="images/{{ pizza.urlImage }}"
                         style="width: 300px; height: 250px; "
                         class="mb-2 border-[1px] border-gray-400 ">

                    <div class="mb-2 text-3xl text-black font-semibold flex justify-center items-center mb-4">{{ pizza.nom }}</div>
                    <div id="lesIngre ">
                        <div class="mb-2 text-1xl text-black font-semibold mt-2">Ingrédients :</div>
                        <div class="mb-2 text-xl text-black">
                            {% for ingredient in pizza.Ingredients %}
                                {{ ingredient.nom }}{% if not loop.last %}, {% endif %}

                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="">
                    <div id="lePrix" class="mb-2">
                        <div class="flex justify-between">
                            <div class="mb-4 text-xl text-black font-semibold">médium :</div>
                            <div class="mb-4 text-xl text-black ">{{ (pizza.prix) | number_format(2, '.', ',') }}€
                            </div>
                            <div class="mb-4 text-xl text-black font-semibold justify-end">large : </div>
                            <div class="mb-4 text-xl text-black ">{{ (pizza.prix + 5) | number_format(2, '.', ',') }}€
                            </div>
                        </div>
                    </div>
                    <div id="enSavoir " class="flex justify-evenly">
                        <div class=" ">
                            <a href="{{ path('_modificationProduit', {'id': pizza.id}) }}"
                               class="flex-1 flex justify-center items-center text-2xl hover:text-red-500 duration-200 text-black font-bold">Modifier</a>
                        </div>
                        <div>
                            <a href="{{ path('_supprimerProduit', {'id': pizza.id}) }}"
                               class="flex-1 flex justify-center items-center text-2xl hover:text-red-500 duration-200 text-black font-bold">Supprimer</a>
                        </div>
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>

{% endblock %}


