{% extends 'base.html.twig' %}
{% block title %}PizzaOnLine - Modification d'un produit{% endblock %}

{% block body %}
    <h2 class="flex item-center justify-center text-5xl mt-2 mb-20"> Modification de la pizza : {{ pizza.nom }}</h2>
    {{ form_start(produitForm) }}

    <div class="flex justify-center items-center"> <!-- Utilisation de flexbox pour aligner deux colonnes -->
        <div class="w-1/2 flex flex-col "> <!-- Colonne de gauche -->
            <div class="mb-4 text-2xl mt-8">
                <div class="flex justify-end"> <!-- Utilisez justify-end pour aligner les champs à droite -->
                    <div class="mr-4 ">
                        {{ form_label(produitForm.nom) }}
                    </div>
                    <div >
                        {{ form_widget(produitForm.nom, {'attr': {'style': 'width: 250px'}}) }}
                    </div>
                </div>
            </div>
            <div class="mb-4 text-2xl">
                <div class="flex justify-end"> <!-- Utilisez justify-end pour aligner les champs à droite -->
                    <div>
                        {{ form_label(produitForm.description) }}
                    </div>
                    <div class="ml-4">
                        {{ form_widget(produitForm.description, {'attr': {'style': 'width: 250px'}}) }}
                    </div>
                </div>
            </div>
            <div class="mb-4 text-2xl">
                <div class="flex justify-end"> <!-- Utilisez justify-end pour aligner les champs à droite -->
                    <div>
                        {{ form_label(produitForm.prix) }}
                    </div>
                    <div class="ml-4">
                        {{ form_widget(produitForm.prix, {'attr': {'style': 'width: 250px'}}) }}
                    </div>
                </div>
            </div>
            <div class="mb-4 text-2xl">
                <div class="flex justify-end"> <!-- Utilisez justify-end pour aligner les champs à droite -->
                    <div>
                        {{ form_label(produitForm.typeProduit) }}
                    </div>
                    <div class="ml-4">
                        {{ form_widget(produitForm.typeProduit, {'attr': {'style': 'width: 250px'}}) }}
                    </div>
                </div>
            </div>
            <div class="mb-4 text-2xl">
                <div class="flex justify-end"> <!-- Utilisez justify-end pour aligner les champs à droite -->
                    <div>
                        {{ form_label(produitForm.urlImage) }}
                    </div>
                    <div class="ml-4">
                        {{ form_widget(produitForm.urlImage, {'attr': {'style': 'width: 250px'}}) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="w-1/2 ml-6">
            <div class="space-y-1 text-xl">
                {{ form_label(produitForm.ingredients, 'Ingrédients', {'label_attr': {'class': 'labelIngredient text-2xl ml-72'}}) }}
                <div class="grid grid-cols-3 ">
                    {% for ingredient in produitForm.ingredients %}
                        <div class="custom-checkbox">
                            {{ form_widget(ingredient, {'attr': {'class': 'custom-checkbox'}}) }}
                            {{ form_label(ingredient) }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
    <div class="flex justify-center item-center text-3xl hover:text-red-500 duration-200 font-bold mt-12">
        {{ form_label(produitForm.ajouter) }}
        {{ form_widget(produitForm.ajouter, {'attr': {'style': 'width: 250px'}}) }}
    </div>

    {{ form_end(produitForm) }}

    <a href="{{ path('_gerant') }}" class="flex justify-center item-center text-3xl hover:text-red-500 duration-200 font-bold mt-12">Retour à la page de gestion</a>
{% endblock %}