    <!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <header>
            <nav>
                <!--logo--------------->
                <a href="{{ path('_accueil') }}" class="logo"> <h1>&#42;PizzaOnLine</h1>	 </a>
                <!--menu-------------->
                <ul class="menu">
                    <li> <a href="{{ path('_accueil') }}">Carte</a></li>
                    <li><a href="{{ path('_panier') }}">Panier</a></li>
                    <li><a href="{{ path('_accueil') }}">Livraison</a></li>
                    <li><a href="{{ path('_accueil') }}">Commandes</a></li>
                    <li><a href="{{ path('_commande') }}">Création commande</a></li>
                    <li><a href="{{ path('_gerant') }}">Gestion</a></li>
                    <li><a href="{{ path('app_login') }}">login</a></li>
                    <li><a href="{{ path('app_logout') }}">logout</a></li>
                    {% if app.user %}
                       <li><a href="{{ path('_profil', {'id': app.user.id}) }}">Profil de {{ app.user.prenom }}</a></li>
                    {% endif %}
                </ul>
            </nav>
    </header>

        {% block body %}{% endblock %}
    </body>
</html>
